@font-face {
    font-family: 'High Tide  Demo';
    src: url('../fonts/HighTide.eot');
    src: url('../fonts/HighTide.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HighTide.woff2') format('woff2'),
    url('../fonts/HighTide.woff') format('woff'),
    url('../fonts/HighTide.ttf') format('truetype'),
    url('../fonts/HighTide.svg#HighTide') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Great Vibes';
    src: url('../fonts/GreatVibes-Regular.eot');
    src: url('../fonts/GreatVibes-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GreatVibes-Regular.woff2') format('woff2'),
    url('../fonts/GreatVibes-Regular.woff') format('woff'),
    url('../fonts/GreatVibes-Regular.ttf') format('truetype'),
    url('../fonts/GreatVibes-Regular.svg#GreatVibes-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Regular.eot');
    src: url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-Regular.woff2') format('woff2'),
    url('../fonts/SourceSansPro-Regular.woff') format('woff'),
    url('../fonts/SourceSansPro-Regular.ttf') format('truetype'),
    url('../fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'St Ryde';
    src: url('../fonts/StRydeRegular.eot');
    src: url('../fonts/StRydeRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/StRydeRegular.woff2') format('woff2'),
    url('../fonts/StRydeRegular.woff') format('woff'),
    url('../fonts/StRydeRegular.ttf') format('truetype'),
    url('../fonts/StRydeRegular.svg#StRydeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}






